@font-face {
  font-family: "Montserrat";
  src: url("file:///montserrat.ttf");
}

@font-face {
  font-family: "Raleway Thin";
  src: url("file:///raleway-thin.ttf");
}


@font-face {
  font-family: "Raleway Regular";
  src: url("file:///raleway-regular.ttf");
}


body {
    margin: 0;
    background-color: rgb(63, 63, 63);
    color: white;
    font-family: 'Raleway Thin', 'Arial Narrow', Arial, sans-serif;
    
  }


#header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 150px;
    transition: .3s;
}

#footer {
    background-color: rgb(71, 71, 71);
    height: 80px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: auto;
    
}

#sticky {
  position: fixed;
  background-color: rgb(71, 71, 71);
  z-index: 99;
  top: 0;
  height: 150px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  transition: .3s;
}

#sticky.small {
  height: 100px;
  transition: .3s;
}
.button a {
  color: black;
}

#a a {
  color: #fff;
}
#header a {
    text-decoration: none;
}

#c {
  transition: .3s;
  line-height: 27px;
  margin-top: 150px;
  margin-right: 60px;
  margin-bottom: 200px;
}

#c img {
  width: 500px;
  float: left;
  margin-bottom: 30px;
}

.layouts {
  display: flex;
  height: 500px;
  margin-bottom: 30px;
  justify-content: center;
}
.layouts img { 
height:auto;
padding: 10px;
border-radius: 20px;}

  #a, #b {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 3px;

  }
  #a {
    text-align: center;
  }

  #b {
    display: flex;
    justify-content:space-between;
    width: 180px;
  }

  .button {
      background-color: gainsboro;
      color:black;
      padding: 10px;
      font-family: 'Raleway Regular', 'Arial Narrow', Arial, sans-serif;
      
  }
 
  section, article {
    font-family: 'Montserrat Light', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    height: 150px;
    letter-spacing: 3px;
  }
  article {
    margin-top: 80px;
    text-align: center;
  }


  
  .img-grid {

    --gap: 0px;
    --num-cols: 4;
    --row-height: 400px;
    
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .img-grid > .overlay > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.overlay {
  position: relative;
  overflow: hidden;
  display:inline-block;
  position:relative;
  transition:.3s;
}

.overlay img{
  width:100%;
  height:100%;
  transition:.3s;
}

.overlay:hover img {
  filter: blur(4px) brightness(60%);
}

.overlay :not(img){
  position:absolute;
  z-index:1;
  top:30%;
  width:100%;
  text-align:center;
  color:#fff;
  opacity:0;
  transition:.3s;
  line-height: 90px;
}

.overlay h3{
  top:50%
}

.overlay:hover :not(img){
  opacity:1;
}




  /* mobile */
  @media screen and (max-width: 1024px) {
    .overlay :not(img){
      font-size: 20px;
      line-height: 60px;
    }
    .img-grid {
      --num-cols: 2;
      --row-height: 200px;
      margin-top: 5%;
    }
  }

